* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "San Francisco", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

/* Margin wenn lieber an Text + Klasse */
button {
  color:#24292e;
  border:1px solid #888;

  box-shadow: inset 0px 19px 0px -24px #888;
  background-color: #eff3f6;

  display:inline-block;
  cursor:pointer;

  font-size: 12px;
  white-space: nowrap;
  vertical-align: middle;

  padding:3px 6px;

  text-decoration:none;

  outline: none;
}

button:hover {
  background-color: #e6ebf1;
}

button:active {
  position:relative;
  top:1px;
}

.hidden {
  display: none;
}

.disabledButton:disabled {
  background: #dddddd;
  color: #333333;
  text-shadow: none;
  font-weight: 600;
}

#content {
  margin-bottom: 10px;
}

#licenceBlock {
  font-size:10px;
}